[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1B600007C0846AAF7ABD555EC72000F5-if00

[mcu xy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434031089611C-if00

[printer]
kinematics: cartesian
max_velocity: 150  
max_accel: 3000
max_z_velocity: 3
max_z_accel: 50
square_corner_velocity: 5.0

[virtual_sdcard]
path: /home/radxa/printer_data/gcodes

on_error_gcode: CANCEL_PRINT

[gcode_arcs]
[exclude_object]
[force_move]
enable_force_move: True

[include homing.cfg]
[include stealthburner_leds.cfg]
#[include clean_nozzle.cfg]
#[include PIS.cfg]

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 69.0
shaper_type_y = 2hump_ei
shaper_freq_y = 60.2

[stepper_x]
step_pin: xy:gpio11
dir_pin: xy:gpio10
enable_pin: !xy:gpio12
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: ^gpio4
position_endstop: 300
position_min: 0
position_max: 300
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: xy:gpio9
tx_pin: xy:gpio8
uart_address: 0
run_current: 0.650
stealthchop_threshold: 0
diag_pin: ^xy:gpio4
driver_SGTHRS: 85

[stepper_y]
step_pin: xy:gpio6
dir_pin: xy:gpio5
enable_pin: !xy:gpio7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: ^gpio3
position_endstop: 825
position_max: 825
position_min: 0
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: xy:gpio9
tx_pin: xy:gpio8
uart_address: 2
run_current: 0.800
stealthchop_threshold: 0
diag_pin: ^xy:gpio3
driver_SGTHRS: 62

[stepper_y1]
step_pin: xy:gpio19
dir_pin: !xy:gpio28
enable_pin: !xy:gpio2
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200


[tmc2209 stepper_y1]
uart_pin: xy:gpio9
tx_pin: xy:gpio8
uart_address: 1
run_current: 0.800
stealthchop_threshold: 0


[extruder]
step_pin: xy:gpio14
dir_pin: !xy:gpio13
enable_pin: !xy:gpio15
microsteps: 16
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.800
filament_diameter: 1.750
min_temp: 10
max_temp: 280
max_power: 0.8
min_extrude_temp: 170
heater_pin: xy:gpio23
sensor_type: Generic 3950
sensor_pin: xy:gpio27
control = pid
pid_kp = 34.855
pid_ki = 11.619
pid_kd = 26.141
min_temp: 0
max_temp: 280

[tmc2209 extruder]
uart_pin: xy:gpio9
tx_pin: xy:gpio8
uart_address: 3
run_current: 0.500
stealthchop_threshold: 0

[fan]
pin: xy:gpio18

[heater_fan heatbreak_cooling_fan]
pin: xy:gpio17

[heater_fan controller_fan]
pin: xy:gpio20


[stepper_z]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
#endstop_pin: P1.27
#position_endstop: -0.5
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3
position_max: 240
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[probe]
pin: xy:gpio22
x_offset: 0
y_offset: 25
z_offset: 4.125
samples: 3
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.055
samples_tolerance_retries: 3

[tmc2209 stepper_z]
uart_pin: P1.10
interpolate: False
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: P1.9
interpolate: False
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z2]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: P1.8
interpolate: False
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: P1.4
interpolate: False
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0


[z_tilt]
##  Use Z_TILT_ADJUST to level the bed
z_positions:
	-85,70
    -85,855
    380,855
    380,70
points:
	30,30
    #30,750
    150, 750
    #270,750
	270,30

speed:100
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.3

[bed_mesh]
speed: 120
horizontal_move_z: 5.5
mesh_min: 30, 30
mesh_max: 200, 770 
probe_count: 6, 21
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2


[heater_bed]
heater_pin: xy:gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: xy:gpio26
control: pid
pid_kp = 69.604
pid_ki = 1.278
pid_kd = 947.440
min_temp: 0
max_temp: 90

[heater_generic heater_bed_2]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_kp = 69.725
pid_ki = 1.375
pid_kd = 883.762
min_temp: 0
max_temp: 90


[heater_generic heater_bed_3]
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_kp = 68.044
pid_ki = 1.243
pid_kd = 931.355
min_temp: 0
max_temp: 90



########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

##  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
encoder_pins: ^P3.26,^P3.25
click_pin: ^!P0.28
contrast: 63

##  To control Neopixel RGB in mini12864 display
[neopixel fysetc_mini12864]
pin: P1.21
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
       SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 


# See the sample-lcd.cfg file for definitions of common LCD displays.

#macros from here
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}
    
[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}
[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
     {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y1'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
     SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y1'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={RUN_CURRENT_Y}

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set BED_TEMP2 = params.BED_TEMP2|default(60)|float %}
    {% set BED_TEMP3 = params.BED_TEMP3|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    # Heat bed for probing
    SET_HEATER_TEMPERATURE HEATER=heater_bed_2 TARGET={BED_TEMP2}
    SET_HEATER_TEMPERATURE HEATER=heater_bed_3 TARGET={BED_TEMP3}
    M190 S{BED_TEMP}   
    # Use absolute coordinates
    G90
    M104 S180; set extruder temp
    # Home the printer
    G28
    Z_TILT_ADJUST
    # BED_MESH_PROFILE LOAD=default
    # If you are generating a new bed mesh:
    BED_MESH_CALIBRATE ADAPTIVE=1
    # Move the nozzle near the bed
    G1 Z20 F3000
    # Set and wait for nozzle to reach printing temperature
    M109 S{EXTRUDER_TEMP}
    #clean_nozzle
    #absolute coordinates
    G90
    # Move Z axis up 
    G1 Z2.0 F3000 
    # Move to start position 
    G1 X5.1 Y20 Z0.2 F5000.0 
    SET_NOZZLE_LEDS_ON
    # Draw the first line
    G1 X5.1 Y100.0 Z0.2 F1000.0 E12
    # Reset extruder 
    G92 E0


[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    SET_HEATER_TEMPERATURE HEATER=heater_bed_2 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=heater_bed_3 TARGET=0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z50 F3000
    G90
    SET_NOZZLE_LEDS_OFF
    # Disable steppers
    M84
[gcode_macro LOAD_FILAMENT]
gcode:
     M109 S230; set extruder temp
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    M300 # beep
    G91
    G92 E0
    G1 E350 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    M300
    M300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M109 S230; set extruder temp
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity} # fast-unload
    M300
    M300
    RESTORE_GCODE_STATE NAME=unload_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.395128, 0.280128, 0.147628, 0.000128, -0.072372, -0.212372
#*# 	  0.240128, 0.127628, -0.004872, -0.132372, -0.234872, -0.314872
#*# 	  0.095128, -0.004872, -0.124872, -0.242372, -0.314872, -0.392372
#*# 	  0.000128, -0.084872, -0.189872, -0.302372, -0.374872, -0.427372
#*# 	  -0.064872, -0.139872, -0.227372, -0.314872, -0.384872, -0.427372
#*# 	  -0.097372, -0.154872, -0.229872, -0.299872, -0.349872, -0.382372
#*# 	  -0.069872, -0.119872, -0.182372, -0.234872, -0.247372, -0.279872
#*# 	  0.140128, 0.102628, 0.037628, -0.029872, -0.052372, -0.047372
#*# 	  -0.187372, -0.224872, -0.264872, -0.304872, -0.322372, -0.299872
#*# 	  -0.282372, -0.312372, -0.347372, -0.389872, -0.402372, -0.387372
#*# 	  -0.374872, -0.399872, -0.442372, -0.479872, -0.484872, -0.462372
#*# 	  -0.407372, -0.427372, -0.469872, -0.504872, -0.504872, -0.497372
#*# 	  -0.387372, -0.407372, -0.444872, -0.472372, -0.449872, -0.434872
#*# 	  -0.347372, -0.357372, -0.392372, -0.414872, -0.389872, -0.354872
#*# 	  -0.274872, -0.277372, -0.302372, -0.309872, -0.279872, -0.229872
#*# 	  -0.204872, -0.174872, -0.174872, -0.159872, -0.077372, -0.004872
#*# 	  -0.307372, -0.159872, -0.169872, -0.197372, -0.137372, -0.064872
#*# 	  -0.417372, -0.347372, -0.317372, -0.262372, -0.174872, -0.092372
#*# 	  -0.437372, -0.387372, -0.347372, -0.284872, -0.179872, -0.084872
#*# 	  -0.487372, -0.422372, -0.377372, -0.304872, -0.194872, -0.079872
#*# 	  -0.499872, -0.437372, -0.382372, -0.309872, -0.187372, -0.054872
#*# x_count = 6
#*# y_count = 21
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 200.0
#*# min_y = 30.0
#*# max_y = 770.0
#*#
#*# [probe]
#*# z_offset = 3.850
#*#
#*# [input_shaper]
